<div class="container cl-container-padding">

  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Login</h1>
  <form (ngSubmit) = "login()" #f="ngForm">
    <input type="text"
           name="username"
           class="form-control"
           placeholder="username"
           ngModel
           required
           #username="ngModel"/>
    <span class="help-block" *ngIf="!username.valid && username.touched">
        Please enter username!
     </span>


    <input type="password"
           name="password"
           class="form-control"
           placeholder="password"
           ngModel required #password="ngModel"/>
    <span class="help-block" *ngIf="!password.valid && password.touched">
        Please enter password!
    </span>
    <button class="btn btn-primary btn-block"
            type="submit"
            [disabled]="!f.valid">Login</button>

    <button class="btn btn-success btn-block"
            [routerLink]="['/register']">Register</button>

  </form>
</div>
