<nav class="navbar fixed-top cl-blue-navbar">
  <div class="row">
    <div class="col-xs-4 d-none d-sm-block">
      <div class="container-fluid">
        <p class="navbar-text float-left">
          <a [routerLink]="['../']" class="navbar-link cl-text-white">
            <i class="fas fa-chevron-left fontawsome_icon"></i>
          </a>
        </p>
        <a class="cl-text-white navbar-brand cl-text-bold" [routerLink]="['../']">
          Websites
        </a>
        <a [routerLink]="['../new']"
           class="navbar-link navbar-text float-right cl-text-white cl-icon-padding">
          <i class="fas fa-plus fontawsome_icon"></i>
        </a>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="container-fluid">
        <a class="cl-text-white navbar-brand cl-text-bold" [routerLink]="['./']">
          Edit Websites
        </a>
        <a [routerLink]="['../']" class="navbar-link navbar-text float-right cl-text-white cl-icon-padding"
        (click) = "updateWebsite()">
          <i class="fas fa-check fontawsome_icon"></i>
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="contain-fluid">
  <div class="row">
    <div class="col-4 d-none d-sm-block">
      <ul class="list-group cl-list-group-borderless">
        <li *ngFor="let website of websites" class="list-group-item cl-list-item-borderless">
          <a [routerLink]="['../', website._id]">
            <i class="fas fa-cog fontawsome_icon float-right" ></i></a>
          <a [routerLink]="['../', website._id, 'page']">{{website.name}}</a>
        </li>
      </ul>
    </div>
    <div class="col-8">
      <form (ngSubmit)="updateWebsite()" #f="ngForm">
        <div class="form-group">
          <label for="website-name">Website Name</label>
          <input [(ngModel)]="websiteName"
                 name="websiteName"
                 type="text"
                 class="form-control"
                 id="website-name"
                 placeholder="new website name">
          <!--<div [hidden]="websiteName.valid || websiteName.untouched"-->
               <!--class="alert alert-danger">-->
            <!--Name is required-->
          <!--</div>-->
        </div>
        <div class="form-group">
          <label for="website-description">Website Description</label>
          <textarea [(ngModel)]="description"
                    name="description"
                    id="website-description"
                    class="form-control"
                    rows="5"
                    placeholder="new description"
          ></textarea>
        </div>
        <a class="btn btn-danger btn-block" [routerLink]="['../']" (click) = "deleteWeb()">Delete</a>
      </form>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-sm cl-blue-navbar navbar-dark fixed-bottom w-100 justify-content-end">
  <div class="container-fuild">
    <a [routerLink]="['../../']" class="navbar-link navbar-text cl-text-white cl-icon-padding">
      <i class="fas fa-user fontawsome_icon"></i>
    </a>
  </div>
</nav>
