<nav class="navbar navbar-expand-md cl-blue-navbar navbar-dark fixed-top">
  <div class="col-1">
    <a class="navbar-text float-left" [routerLink]="['..']"><i class="fa fa-chevron-left"></i></a >
  </div>

  <div class="col-3 d-none d-sm-block">
    <a class="navbar-brand cl-icon-padding" [routerLink]="['..']">Websites</a >
    <a class="navbar-text float-right" [routerLink]="['../new']"><i class="fa fa-plus"></i></a >
  </div>

  <div class="col-8">
    <a class="navbar-brand cl-icon-padding" [routerLink]="['.']">Edit Websites</a >
    <a class="navbar-text float-right" [routerLink]="['..']" (click) = "updateWebsite()"><i class="fa fa-check"></i></a >
  </div>
</nav>

<div class="contain-fluid">
  <div class="row">
    <div class="col-4 d-none d-sm-block">
      <ul class="list-group cl-list-group-borderless">
        <li *ngFor="let website of websites" class="list-group-item cl-list-item-borderless">
          <a [routerLink]="['../', website._id]">
            <i class="fas fa-cog fontawsome_icon float-right" ></i></a>
          <a [routerLink]="['../', website._id, 'page']">{{website.name}}</a>
        </li>
      </ul>
    </div>
    <div class="col-8">
      <form (ngSubmit)="updateWebsite()" #f="ngForm">
        <div class="form-group">
          <label for="website-name">Website Name</label>
          <input [(ngModel)]="website.name" required
                 name="websiteName"
                 type="text"
                 class="form-control"
                 id="website-name"
                 placeholder={{website.name}}>
          <div [hidden]= "['website.name'].valid || ['website.name'].untouched"
               class="alert alert-danger">
            Name is required
          </div>
        </div>
        <div class="form-group">
          <label for="website-description">Website Description</label>
          <textarea [(ngModel)]="website.description"
                    name="description"
                    id="website-description"
                    class="form-control"
                    rows="5"
                    placeholder={{website.description}}
          ></textarea>
        </div>
        <a class="btn btn-danger btn-block" [routerLink]="['../']" (click) = "deleteWeb()">Delete</a>
      </form>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-sm cl-blue-navbar navbar-dark fixed-bottom w-100 justify-content-end">
  <div class="container-fuild">
    <a [routerLink]="['/profile']" class="navbar-link navbar-text cl-text-white cl-icon-padding">
      <i class="fas fa-user fontawsome_icon"></i>
    </a>
  </div>
</nav>
