<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<h2>My project for CS5610 ---- Nan Liu  </h2>

<!--<p appChangByColor [changeByColor]="color">Hello World</p>-->


<ul><a routerLink="/login">Login</a>
  <a routerLink="/register">Register</a>
  <a routerLink="user/123">Profile</a></ul>
<!--<ul><a routerLink="user/123/website">WebsiteList</a>-->
  <!--<a routerLink="user/456/website/new">WebsiteNew</a>-->
  <!--<a routerLink="user/456/website/456">WebsiteEdit</a></ul>-->
<!--<ul><a routerLink="user/123/website/333/page">PageList</a>-->
  <!--<a routerLink="user/456/website/456/page/new">PageNew</a>-->
  <!--<a routerLink="user/456/website/456/page/321">PageEdit</a></ul>-->
<!--<ul><a routerLink="user/456/website/456/page/321/widget">WidgetList</a>-->
  <!--<a routerLink="user/456/website/456/page/321/widget/new">WidgetChooser</a>-->
  <!--<a routerLink="user/456/website/456/page/321/widget/123">WidgetEdit-Heading</a>-->
  <!--<a routerLink="user/123/website/333/page/321/widget/345">WidgetEdit-Image</a>-->
  <!--<a routerLink="user/123/website/333/page/321/widget/678">WidgetEdit-Youtube</a></ul>-->

<router-outlet></router-outlet>
