<nav class="navbar navbar-expand-sm bg-light fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text float-left">
      <a [routerLink]="['../..']" class="cl-text-black cl-icon-padding">
        <i class="fas fa-chevron-left fontawsome_icon"></i>
      </a>
      <a class="navbar-brand cl-text-black cl-text-bold" [routerLink]="['./']">
        Pages
      </a>
    </div>

    <div class="navbar-text float-right">
      <a [routerLink]="['./new']" class="cl-icon-padding cl-text-black">
        <i class="fas fa-plus fontawsome_icon"></i>
      </a>
    </div>

  </div>
</nav>


<div class="container-fluid cl-container-padding">
  <ul class="list-group cl-list-group-borderless">
    <li *ngFor="let page of pages" class="list-group-item cl-list-item-borderless">
      <a [routerLink]="['./', page._id]"><i class="fas fa-cog fontawsome_icon float-right"></i></a>
      <a [routerLink]="['./', page._id, 'widget']">{{page.name}}</a>
    </li>
  </ul>
</div>

<nav class="navbar bg-light fixed-bottom w-100 justify-content-end">
  <div class="container-fuild">
    <a [routerLink]="['../../']" class="navbar-link navbar-text cl-text-blue cl-icon-padding">
      <i class="fas fa-user fontawsome_icon"></i>
    </a>
  </div>
</nav>
