<nav class="navbar navbar-expand-sm bg-light fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text float-left">
      <a [routerLink]="['../']" class="cl-text-black cl-icon-padding">
        <i class="fas fa-chevron-left fontawsome_icon"></i>
      </a>
      <a class="navbar-brand cl-text-black cl-text-bold" [routerLink]="['./']">
        Widgets Edit
      </a>
    </div>

    <div class="navbar-text float-right">
      <a [routerLink]="['../']" class="cl-icon-padding cl-text-black" (click) = "update()">
        <i class="fas fa-check fontawsome_icon"></i>
      </a>
    </div>

  </div>
</nav>

<div class="container cl-container-padding">
  <form (ngSubmit) = "update()" #f="ngForm">
    <div class="form-group">
      <label for="heading-text">Text</label>
      <input type="text" class="form-control" id="heading-text" placeholder={{widget.text}}
             ngModel required
             name="text" [(ngModel)]="widget.text"/>
      <!--<div [hidden]="text.valid || text.untouched"-->
           <!--class="alert alert-danger">-->
        <!--Text is required-->
      <!--</div>-->
    </div>
    <div class="form-group">
      <label for="heading-size">Size</label>
      <input type="text" class="form-control" id="heading-size" placeholder={{widget.size}}
             ngModel required
             name="size" [(ngModel)]="widget.size"/>
      <!--<div [hidden]="size.valid || size.untouched"-->
           <!--class="alert alert-danger">-->
        <!--Size is required-->
      <!--</div>-->
    </div>
    <!--<div *ngIf="sizeValid" class="alert alert-danger">-->
      <!--Size can only between 1 to 6-->
    <!--</div>-->
    <button class="btn btn-danger btn-block" type="button" (click)="delete()" [routerLink]="['../']">Delete</button>
  </form>
  <!--<a class="btn btn-danger btn-block" [routerLink]="['./']">Delete</a>-->
</div>

<nav class="navbar bg-light fixed-bottom w-100 justify-content-end">
  <div class="container-fuild">
    <a [routerLink]="['../../../../../../']" class="navbar-link navbar-text cl-text-blue cl-icon-padding">
      <i class="fas fa-user fontawsome_icon"></i>
    </a>
  </div>
</nav>
