<nav class="navbar navbar-expand-sm bg-light fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text float-left">
      <a routerLink="../" class="cl-text-black cl-icon-padding">
        <i class="fas fa-chevron-left fontawsome_icon"></i>
      </a>
      <a class="navbar-brand cl-text-black cl-text-bold" routerLink="./">
        Widgets Edit
      </a>
    </div>

    <div class="navbar-text float-right">
      <a routerLink="../" class="cl-icon-padding cl-text-black" (click) = "update()">
        <i class="fas fa-check fontawsome_icon"></i>
      </a>
    </div>

  </div>
</nav>

<div class="container">
  <form (ngSubmit)="update()" #f="ngForm">
    <!--<div class="form-group">-->
      <!--<label for="youtube-name">Name</label>-->
      <!--<input type="text" class="form-control" id="youtube-name" placeholder="Name">-->
    <!--</div>-->
    <div class="form-group">
      <label for="youtube-text">Text</label>
      <input type="text" class="form-control" id="youtube-text" placeholder={{widget.text}}
             ngModel required
             name="text" #text="ngModel"/>
    </div>
    <div class="form-group">
      <label for="youtube-URL">URL</label>
      <input type="text" class="form-control" id="youtube-URL" placeholder={{widget.url}}
             ngModel required
             name="url" #url="ngModel"/>
    </div>
    <div class="form-group">
      <label for="youtube-width">Width</label>
      <input type="text" class="form-control" id="youtube-width" placeholder={{widget.width}}
             ngModel required
             name="width" #width="ngModel"/>
    </div>
  </form>
  <a class="btn btn-danger btn-block" routerLink="../" (click) = "delete()">Delete</a>
</div>

<nav class="navbar bg-light fixed-bottom w-100 justify-content-end">
  <div class="container-fuild">
    <a routerLink="../../../../../.." class="navbar-link navbar-text cl-text-blue cl-icon-padding">
      <i class="fas fa-user fontawsome_icon"></i>
    </a>
  </div>
</nav>
