<nav class="navbar navbar-expand-sm bg-light fixed-top">
  <div class="container-fluid row">
    <div class="navbar-text float-left">
      <a routerLink="../" class="cl-text-black cl-icon-padding">
        <i class="fas fa-chevron-left fontawsome_icon"></i>
      </a>
      <a class="navbar-brand cl-text-black cl-text-bold" routerLink="./">
        Choose Widget
      </a>
    </div>
  </div>
</nav>


<div class="container-fluid cl-container-padding">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless">
      <a [routerLink]=url (click) = "createWidget('HEADING')">Heading</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a [routerLink]=url (click) = "createWidget('IMAGE')">Image</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a [routerLink]=url (click) = "createWidget('YOUTUBE')">YouTube</a>
    </li>
  </ul>
</div>


<nav class="navbar bg-light fixed-bottom w-100 justify-content-end">
  <div class="container-fuild">
    <a routerLink="../../../../../.." class="navbar-link navbar-text cl-text-blue cl-icon-padding">
      <i class="fas fa-user fontawsome_icon"></i>
    </a>
  </div>
</nav>
