<nav class="navbar navbar-expand-sm bg-light fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text float-left">
      <a [routerLink]="['../']" class="cl-text-black cl-icon-padding">
        <i class="fas fa-chevron-left fontawsome_icon"></i>
      </a>
      <a class="navbar-brand cl-text-black cl-text-bold" [routerLink]="['./']">
        Widgets Edit
      </a>
    </div>

    <div class="navbar-text float-right">
      <a [routerLink]="['../']" class="cl-icon-padding cl-text-black" (click) = "update()">
        <i class="fas fa-check fontawsome_icon"></i>
      </a>
    </div>

  </div>
</nav>

<div class="container">
  <form (ngSubmit) = "update()" #f="ngForm">
    <div class="form-group">
      <label for="image-text">Text</label>
      <input type="text" class="form-control" id="image-text" placeholder={{widget.text}}
             ngModel required
             name="text" [(ngModel)]="widget.text"/>
    </div>
    <div class="form-group">
      <label for="size">Size</label>
      <input type="text" class="form-control" id="size" placeholder="Widget size"
             name="size" [(ngModel)]="widget.size">
    </div>
    <div class="form-group">
      <label for="image-URL">URL</label>
      <input type="text" class="form-control" id="image-URL" placeholder={{widget.url}}
             ngModel required
             name="url" [(ngModel)]="widget.url"/>
    </div>
    <div class="form-group">
      <label for="image-width">Width</label>
      <input type="text" class="form-control" id="image-width" placeholder={{widget.width}}
             ngModel required
             name="width" [(ngModel)]="widget.width"/>
    </div>
    <div class="form-group">
      <label for="image-inputFile">Upload</label>
      <input
        type="file"
        class="form-control"
        name="upload"
        id="image-inputFile">
    </div>
    <button class="btn btn-primary btn-block" type="submit">Upload Image</button>
    <!--<div class="form-group">-->
      <!--<label for="exampleInputFile">Upload</label>-->
      <!--<input type="file" class="form-control" id="exampleInputFile"-->
             <!--ngModel required-->
             <!--name="file" #file="ngModel"/>-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label for="exampleInputFile">Upload</label>-->
      <!--<form ngNoForm (click)="upload()" method="post" enctype="multipart/form-data">-->
        <!--<input  name="myFile" type="file" class="form-control"  id="exampleInputFile"/>-->
        <!--&lt;!&ndash;<input  name="widgetId" value="{{wgid}}"   style="display: none"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<input  name="websiteId" value="{{websiteId}}"   style="display: none"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<input  name="pageId" value="{{pageID}}"   style="display: none"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<input  name="userId" value="{{userId}}"   style="display: none"/>&ndash;&gt;-->
        <!--<button type="submit" class="btn btn-block btn-primary" [routerLink]="['./']">Upload Image</button>-->
      <!--</form>-->
    <!--</div>-->
  </form>
  <!--<a class="btn btn-primary btn-block" href="#">Upload Image</a>-->
  <a class="btn btn-danger  btn-block" [routerLink]="['../']" (click) = "delete()">Delete</a>
</div>

<nav class="navbar bg-light fixed-bottom w-100 justify-content-end">
  <div class="container-fuild">
    <a [routerLink]="['../../../../../../']" class="navbar-link navbar-text cl-text-blue cl-icon-padding">
      <i class="fas fa-user fontawsome_icon"></i>
    </a>
  </div>
</nav>
